.welcome {

  font-weight: lighter;

  .img {
    margin-bottom: 28px;
    margin-left: 40px;
    margin-top: 150px;
  }

  .footer {
    margin-bottom: 28px;
    margin-left: 40px;
    margin-top: 150px;
  }

  p {
    padding: 0 20px;
  }

}